body {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
}

main {
  width: 90%;
  margin: 0 auto;
}

.cabecalho,
.profissional-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.minhas-infos {
  flex: 2;
  display: flex;
  align-items: center;
}

.meus-contatos {
  flex: 1;
}

.redes-socias {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.redes-socias li a {
  font-size: 22px;
  color: #333;
}

.logo {
  width: 200px;
  height: 200px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo p {
  font-size: 42px;
  color: #eee;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 50px;
  font-style: italic;
  font-family: sans-serif;
}

.textos {
  margin-left: 20px;
}

.titulo-principal {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.titulo-principal h4 {
  font-size: 26px;
  margin-left: 20px;
}

.titulo-principal i {
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  font-size: 18px;
}

.profissional-skill {
  align-items: flex-start;
}

.profissional {
  flex: 3;
}

.skill {
  flex: 2;
}

.coluna-esquerda {
  flex: 1;
}

.lista-principal {
  list-style-type: disc;
  margin-left: 20px;
}

.lista-principal li {
  margin-bottom: 20px;
}

.titulo {
  font-size: 18px;
  margin-bottom: 20px;
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.bolinha {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  margin-right: 20px;
}

.subtitulo,
.coluna-esquerda p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #999999;
}

footer {
  background: #333333;
  color: #eee;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}
