body {
  background-color: black;
  color: white;
}

.cabecalho {
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.minha-infos {
  background: blue;
  flex-grow: 2;
}

.meus-contatos {
  background: green;
  flex-grow: 1;
}
